body{
	font-family: 'Open Sans', sans-serif;
}
div.container.prf{
	padding-left: 30px;
}
.row2{
	padding-left: 50px;
}
.page-header{
	font-weight: 300;
}
.colspan1{
	padding-top:0px;
}
.colspan2{
	width: 1000px;
	
	padding-top: 150px;
}
.prof-img{
	padding-top: 0px !important;
}
hr{
	background-color: rgba(0, 0, 0, 0.29);
	margin-top:10px; 
}
.hd-margin{
	margin-bottom: 20px;
}
h3{
	font-weight: 600;
}
div.row.p-4{
	background-color: rgba(10, 10, 10, 0.06);
}
.card{
	margin-bottom: 20px;
}
.ghost-button {
 color: rgb(232, 105, 0);
 background: #fff;
 border: 2px solid rgb(232, 105, 0);
 font-size: 17px;
 padding: 7px 12px;
 font-weight: 600;
 margin: 6px 0;
 margin-right: 12px;
 display: inline-block;
 text-decoration: none;
 transition:300ms ease-in-out all;
 
 min-width: 120px;
}
.ghost-button:hover, .ghost-button:active {
 color:#ffffff;
 text-decoration: none;
 background:rgb(232, 105, 0);
}

#w{
	width:550px;

}
#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.search{
	border:none;
}
.search:hover{
	size:10px;
}

.overlay{
	background-color: rgba(0, 0, 0, 0.52) !important;
	width: 100%;
	height: 100%;
}